body{
  justify-self: center;
}
form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  border: 2px solid gray;
  padding: 40px;
  border-radius: 5px;
}
input{
  width: 200px;
}
button{
  width: 150px;
  border-radius: 5px;
}